.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

resource.js
main.js
todolist.md
test/
refer/

cert.pem
passphrase.txt

tests/**/coverage/
tests/e2e/reports
selenium-debug.log
dependencygraph.svg

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

*.yalc
yalc.lock
yarn.lock
/www/
